Repository 2kodevs/Distributed-Scrapper, pull requests merged in 2019-12, with the labels that each got.

#42 Fixes #18 - Update login and discovery method of nodes
  .gitignore
  Makefile
  dispatcher.py
  scrapper.py
  seed.py
  util/params.py
  util/utils.py
Labels: dispatcher, main, scrapper, seed, wip

#41 Fixes #40 - Download urls and dependencies
  .gitignore
  Makefile
  dispatcher.py
  scrapper.py
  seed.py
  util/utils.py
Labels: dispatcher, main, scrapper, seed, wip

#46 Fixes #43 - Add replication and improve scalability
  Makefile
  dispatcher.py
  scrapper.py
  seed.py
  util/conit.py
Labels: enhancement, main, seed, wip

#50 Fixes #47 - Update purger
  seed.py
  util/conit.py
  util/utils.py
Labels: main, seed, wip

#49 Fixes #44 - Improve req-res communications between dispatcher and seed
  dispatcher.py
  scrapper.py
  seed.py
  util/utils.py
Labels: dispatcher, main, seed, wip

#52 Fixes #51 - Test project
  dispatcher.py
  scrapper.py
  seed.py
  util/conit.py
  util/params.py
  util/utils.py
Labels: dispatcher, main, scrapper, seed, wip

#54 Fixes #39 - Setup Docker
  Dockerfile
  Makefile
  python-image/Dockerfile
Labels: main, wip

#45 Fixes #38 - Final README
  Makefile
  README.md
Labels: documentation

#55 Update README.md
  README.md
Labels: documentation
