Repository 2kodevs/Distributed-Scrapper, pull requests merged in 2019-11, with the labels that each got.

#5 Fixes #2 - Create worker-scrapper.
  dispacher.py
  main.py
  scrapper.py
  util/params.py
  util/utils.py
Labels: dispacher, main, scrapper, wip

#8 Fixes #4 - Solve seeds connection
  dispacher.py
  scrapper.py
  util/params.py
Labels: dispacher, main, scrapper, wip

#13 fixes #12 Add cmd flags
  dispacher.py
  scrapper.py
  util/utils.py
Labels: dispacher, enhancement, scrapper, wip

#14 Fixes #6 - Add initial makefile
  Makefile
  dispacher.py
  scrapper.py
Labels: wip

#17 Fixes #16 - Add colors in application's logs
  util/colors.py
  util/params.py
Labels: enhancement, wip

#15 Fixes #11- Find and fix zmq error
  .gitignore
  dispacher.py
  scrapper.py
Labels: dispacher, scrapper, wip

#20 Fixes #10 Pulling only when slaves are available
  dispacher.py
  scrapper.py
Labels: dispacher, main, scrapper, wip

#21 Correcting dispatcher word in everywhere
  Makefile
  dispatcher.py
Labels: bug

#23 Fixes #7 - Assign UUID to clients
  dispatcher.py
  util/utils.py
Labels: dispacher, main

#22 Fixes #19 - Implement the mechanism to update the pool
  .gitignore
  Makefile
  dispatcher.py
  scrapper.py
  util/params.py
Labels: dispacher, main, scrapper, wip

#25 Solve pr merge bugs and update tag comments
  dispatcher.py
  scrapper.py
Labels: bug, dispacher, main, scrapper

#26 Fixes #9 - Create a custom Logger
  dispatcher.py
  scrapper.py
  util/params.py
  util/utils.py
Labels: wip

#29 Fixes #27 - New client interaction
  dispatcher.py
Labels: dispatcher, main, wip

#30 Fixes #28 - Create seed node and update scrapper node
  Makefile
  scrapper.py
  seed.py
Labels: main, scrapper, seed, wip

#31 Project new design tested
  dispatcher.py
  scrapper.py
  seed.py
Labels: dispatcher, main, scrapper, seed, wip

#33 Fixes #32 alternate connection bug
  dispatcher.py
  scrapper.py
  util/params.py
  util/utils.py
Labels: bug, dispatcher, main, scrapper, wip

#36 Fixes #34 - Add features for sharing states between seed nodes
  dispatcher.py
  scrapper.py
  seed.py
  util/params.py
Labels: enhancement, main, seed, wip

#37 Fixes #35 - Create a verification mechanism
  dispatcher.py
  scrapper.py
  seed.py
Labels: seed, wip
